.profile-container {
    position: fixed;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}
.profile-name {
    line-height: 18px;
    padding: 20px;
    color: var(--heading-text-color);
    font-weight: bold;
    font-size: 17px;
}

.profile-title {
    font-size: 13px;
    color: var(--caption-text-color);
}

.profile-image {
    margin-top: -2px;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.profile-information {
    top: 0;
    left: 0;
    margin: -100px 10px 30px 0;
}

.profile-information .timeline .timeline-item-text {
    margin: 2px 0 12px 0;
    font-size: 13px;
    color: var(--caption-text-color);
    font-weight: 400;
}

.timeline-item-text > span {
    color: var(--body-text-color);
    margin-right: 5px;
}

.timeline-item-text > a {
    color: var(--inactive-link-color);
    text-decoration: none;
}

.timeline-item-text > a:hover {
    color: var(--active-link-color);
}

.resume-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.social-icon {
    color: var(--inactive-link-color);
    font-size: 1.5rem;
    transition: color 0.3s;
    -moz-transition: transform 0.5s ease;
}

.social-icon:hover {
    color: var(--main-color);
    transform: scale(1.25);
}


@media (max-width: 1200px) {
    .profile-container {
        position: static;
        max-width: 400px;
    }
}


