.resume-title {
    color: var(--heading-text-color);
    font-size: medium;
    line-height: 22px;
    white-space: pre-line;
}

.resume-company {
    color: var(--caption-text-color);
    font-size: small;
    line-height: 22px;
    white-space: pre-line;
}

.resume-date {
    color: var(--caption-text-color);
    display: flex;
    font-size: x-small;
    line-height: 22px;
    white-space: pre-line;
}

.resume-text {
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.resume-image {
    max-width: 100%;
    max-height: 50px;
}

.resume-item {

}
