.contact-information {
    margin: 2px 0 12px 0;
    font-size: 13px;
    color: var(--caption-text-color);
    font-weight: 500;
}

.contact-information span {
     margin: 2px 0 12px 0;
     font-size: 13px;
     color: var(--heading-text-color);
     font-weight: 600;
 }

.contact-socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
    gap: 10px;
}



/* Submit Button */

.email-form .custom-btn {
    padding: 1px 12px;
    margin: 0;
}

.email-form .custom-btn .btn-text {
    font-size: 14px;
}

.email-form .custom-btn .btn-text > a {
    font-size: 14px;
}

.email-form {
    margin: 2px 0 12px 0;
    font-size: 13px;
    color: var(--caption-text-color);
    font-weight: 500;
    .name-input,
    .email-input {
        width: 100%;
        max-width: 100%;
        border: none;
        outline: none;
        background: none;
        margin: 0 5px auto 0;
    }
    .message-input {
        width: 100%;
        max-width: 100%;
        border: none;
        outline: none;
        background: none;
    }
}

