/* Services */

.service-thumbnails {
    background-color: var(--background-color);
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    transition: transform 0.5s ease;
}

.service-thumbnails:hover {
    transform: scale(1.05);
}

.service-thumbnails .service-icon {
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
}

.service-thumbnails .service-title {
    color: var(--heading-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.service-thumbnails .service-description {
    color: var(--body-text-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    line-height: 18px;
    font-size: 10px;
}


/* Skills */


.skill-thumbnails {
    background-color: var(--background-color);
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    transition: transform 0.5s ease;
}

.skill-thumbnails:hover {
    transform: scale(1.05);
}


.skill-thumbnails .skill-icon{
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
}

.skill-thumbnails .skill-title {
    color: var(--heading-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.skill-thumbnails .skill-description {
    display: flex;
    align-items: center;
    margin: auto 20px;
    width: 100%;
    font-weight: 400;
    line-height: 16px;
    color: var(--body-text-color);
    font-size: 10px;
}

.skill-thumbnails .skill-dot {
    color: var(--border-color);
    border-color: var(--main-color);
    padding: 2px;
    margin-right: 5px;
    width: 5px;
}

