.home-container {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    padding: 30px;
}


/* Services */

.service-thumbnails {
    background-color: white;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s ease;
}

.service-thumbnails:hover {
    transform: scale(1.05);
}

.service-thumbnails .service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
}

.service-thumbnails .service-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.service-thumbnails .service-description {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    line-height: 18px;
    color: gray;
    font-size: 10px;
}


/* Skills */


.skill-thumbnails {
    background-color: white;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s ease;
}

.skill-thumbnails:hover {
    transform: scale(1.05);
}


.skill-thumbnails .skill-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
}

.skill-thumbnails .skill-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.skill-thumbnails .skill-description {
    display: flex;
    align-items: center;
    margin: auto 20px;
    width: 100%;
    font-weight: 400;
    line-height: 16px;
    color: gray;
    font-size: 10px;
}

.skill-thumbnails .skill-dot {
    color: #ffbd59;
    border-color: #004aad;
    padding: 2px;
    margin-right: 5px;
    width: 5px;
}

