.dropdown-navbar {
    background-color: var(--container-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.dropdown-home {
    color: var(--inactive-link-color);
    text-decoration: none;
    transition: background-color 0.3s;
    -moz-transition: transform 0.5s ease;
}

.dropdown-home:hover,
.dropdown-home.active {
    color: var(--main-color);
    transform: scale(1.05);
}

.menu-button {
    background: none;
    border: none;
    color: var(--inactive-link-color);
    cursor: pointer;
    transition: background-color 0.3s;
    -moz-transition: transform 0.5s ease;
}

.menu-button:hover {
    color: var(--main-color);
    transform: scale(1.05);
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-item {
    color: var(--inactive-link-color);
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    -moz-transition: transform 0.5s ease;
    border: var(--background-color) solid 1px;
}

.dropdown-item:hover, .dropdown-item.active {
    color: var(--main-color);
    transform: scale(1.05);
}
