.dropdown-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: black; /* Black text for contrast */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-home {
    color: gray;
    text-decoration: none;
}

.dropdown-home:hover {
    color: black;
}

.dropdown-home.active {
    color: #ffbd59;
}

.menu-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

.menu-button:hover {
    color: #ffbd59;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: ghostwhite;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-item {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: ghostwhite solid 1px;
}

.dropdown-item:hover, .dropdown-item.active {
    border: ghostwhite solid 1px;
    color: #ffbd59;
}
