.timeline {
    padding: 0;
}

.timeline .timeline-header {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
}

.timeline .timeline-first {
    min-height: 100px;
}

.timeline .MuiTimeline-root {
    min-height: 0;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
    display: none;
}

.timeline .timeline-dot-header {
    color: var(--main-color);
    border-color: var(--main-color);
    font-size: small;
    padding: 1px;
}

.timeline .timeline-dot {
    color: var(--container-color);
    border-color: var(--main-color);
    padding: 1px;
}

.timeline .MuiTimelineConnector-root {
    background-color: var(--main-color);
}

.timeline .timeline-separator {
    padding: 0 12px 0 12px;
}

.timeline .timeline-content {
    padding: 0;
    margin-bottom: 20px;
}

