/* Footer Styles */
.footer {
    color: var(--body-text-color);
    margin: auto;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    border-radius: 6px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column; /* Stack items for smaller screens */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

/* Footer Left Section */
.footer-left, .footer-right {
    margin: 10px 0;
}

/* Footer Text */
.footer-text {
    font-size: 12px;
    line-height: 1.6;
    margin: 0;
}

/* Footer Links */
.footer-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }

    .footer-left, .footer-right {
        text-align: left;
    }
}


