:root {
    .dark-mode {
        /* Core Colors */
        --main-color: #2979FF;
        --secondary-color: #4A90E2;

        /* Text Colors */
        --heading-text-color: #F0F4F8;
        --body-text-color: #B0BEC5;
        --caption-text-color: #90CAF9;
        --active-link-color: #82B1FF;
        --inactive-link-color: #4A90E2;

        /* UI Elements */
        --shadow-color: rgba(255, 255, 255, 0.1);
        --border-color: #E0E0E0;
        --container-color: grey;

        /* Additional Colors */
        --background-color: #121212;
        --shading-color: rgba(255, 255, 255, 0.1);
        --highlight-color: #50B5FF;

    }
    /* Core Colors */
    --main-color: #4A90E2;
    --secondary-color: #50B5FF;

    /* Text Colors */
    --heading-text-color: #1A1A1A;
    --body-text-color: #4F4F4F;
    --caption-text-color: #B0BEC5;
    --active-link-color: #1565C0;
    --inactive-link-color: #90CAF9;

    /* UI Elements */
    --shadow-color: rgba(0, 0, 0, 0.31);
    --border-color: #E0E0E0;
    --container-color: #F9F9FA;

    /* Additional Colors */
    --background-color: #F5F8FA;
    --shading-color: rgba(0, 0, 0, 0.69);
    --highlight-color: #2979FF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: var(--background-color) url("../public/assets/images/background.png") round center center fixed;
    color: var(--body-text-color);
}
