.project-card {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    transition: transform 0.5s ease;
    .project-card-media {
        height: 120px;;
        object-fit: cover;
        object-position: center center;
        background-color: var(--container-color);
    }
    .project-card-title {
        font-size: 16px;
        color: var(--main-color);
    }
    .project-card-caption {
        font-size: 12px;
        color: var(--caption-text-color);
    }
    .project-card-content {
        background-color: var(--container-color);
    }
}

.project-card:hover {
    transform: scale(1.25);
    -webkit-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    -moz-box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    z-index: 10;
}

.dialog-card {
    background-color: var(--container-color) ;
    .dialog-title {
        display: flex;
        color: var(--main-color);
        margin: 10px 0 1px 0;
        background-color: var(--container-color);
    }
    .dialog-img {
        max-height: 550px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        background-color: var(--container-color);
    }
    .dialog-content {
        background-color: var(--container-color);
    }
    .dialog-description {
        margin: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        color: var(--caption-text-color);
        background-color: var(--container-color);
    }
    .dialog-actions {
        justify-content: center;
        margin: auto 0 10px 0;
        background-color: var(--container-color);
    }
    .dialog-link {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 12px;
        color: var(--inactive-link-color);
        background-color: var(--container-color);
    }
    .dialog-link:hover {
        text-decoration: none;
        color: var(--active-link-color);
    }
}





