.custom-tabs {

}

.custom-tab-inactive {

}

.custom-tab-inactive:hover {

}

.custom-tab-active {

}

.project-card {
    width: 160px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.5s ease;

}

.project-card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card .project-card-media {
    width: 160px;
    height: 90px;
}

.project-card .project-card-title {
}

.project-card .project-card-caption {
}

.project-card-description {
}

.project-card-link {
    text-decoration: none;
}

.dialog {
}

.dialog-img {
}

.dialog-link {
    text-decoration: none;
}